# Initiate data

### Load the data of the different cities:

In [54]:
# Common libraries imports
import numpy as np
import pandas as pd
import sklearn
import seaborn as sns

In [55]:
Athens = pd.read_csv('CityData/listingsAthens.csv')
Athens.insert(0,'City','Athens')
print(Athens.shape)

(13182, 76)

In [56]:
Lisbon = pd.read_csv('CityData/listingsLisbon.csv')
Lisbon.insert(0,'City','Lisbon')
print(Lisbon.shape)

(22751, 76)

In [57]:
London = pd.read_csv('CityData/listingsLondon.csv')
London.insert(0,'City','London')
print(London.shape)

(91778, 76)

In [58]:
Prague = pd.read_csv('CityData/listingsPrague.csv')
Prague.insert(0,'City','Prague')
print(Prague.shape)

(9388, 76)

### Merge the city data into one dataframe:

In [59]:
merged = pd.concat([Athens, Lisbon, London, Prague],ignore_index=True)
merged

,City,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,Athens,40042598,https://www.airbnb.com/rooms/40042598,20231225075512,2023-12-26,previous scrape,Rental unit in Athina · 1 bedroom · 1 bed · 1 ...,NaN,NaN,https://a0.muscache.com/pictures/fb6d0257-52ec...,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
1,Athens,39069205,https://www.airbnb.com/rooms/39069205,20231225075512,2023-12-26,previous scrape,Rental unit in Athina · 2 bedrooms · 2 beds · ...,NaN,Is located in one of the hottest spots in Kolo...,https://a0.muscache.com/pictures/8965800b-9101...,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
2,Athens,653274914834812593,https://www.airbnb.com/rooms/653274914834812593,20231225075512,2023-12-26,city scrape,Condo in Athina · ★5.0 · 1 bedroom · 2 beds · ...,NaN,Η γειτονιά βρίσκεται μια ανάσα από τον Παρθενώ...,https://a0.muscache.com/pictures/b8926124-f861...,...,5.0,4.98,4.96,00001652202,t,1,1,0,0,2.68
3,Athens,54361219,https://www.airbnb.com/rooms/54361219,20231225075512,2023-12-26,city scrape,Rental unit in Athina · ★4.75 · 1 bedroom · 1 ...,NaN,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,...,5.0,4.98,4.83,00001402443,t,1,1,0,0,1.83
4,Athens,51258073,https://www.airbnb.com/rooms/51258073,20231225075512,2023-12-26,city scrape,Rental unit in Athina · ★5.0 · Studio · 3 beds...,NaN,NaN,https://a0.muscache.com/pictures/2e0592af-8983...,...,5.0,5.00,5.00,00002160731,f,3,3,0,0,0.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137094,Prague,1049289098484116632,https://www.airbnb.com/rooms/1049289098484116632,20231220035754,2023-12-20,city scrape,Rental unit in Praha 2 · ★New · 1 bedroom · 1 ...,NaN,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,...,NaN,NaN,NaN,NaN,t,7,0,7,0,NaN
137095,Prague,1049298171311642069,https://www.airbnb.com/rooms/1049298171311642069,20231220035754,2023-12-20,city scrape,Rental unit in Praha 3 · ★New · 1 bedroom · 1 ...,NaN,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,...,NaN,NaN,NaN,NaN,t,7,0,7,0,NaN
137096,Prague,1049310644080944967,https://www.airbnb.com/rooms/1049310644080944967,20231220035754,2023-12-20,city scrape,Rental unit in Praha 3 · ★New · 1 bedroom · 1 ...,NaN,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,...,NaN,NaN,NaN,NaN,t,7,0,7,0,NaN
137097,Prague,1049329121454141045,https://www.airbnb.com/rooms/1049329121454141045,20231220035754,2023-12-20,city scrape,Rental unit in Praha 3 · ★New · 1 bedroom · 1 ...,NaN,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,...,NaN,NaN,NaN,NaN,t,7,0,7,0,NaN
137098,Prague,1049338926440248452,https://www.airbnb.com/rooms/1049338926440248452,20231220035754,2023-12-20,city scrape,Bed and breakfast in Praha 3 · ★New · 1 bedroo...,NaN,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,...,NaN,NaN,NaN,NaN,f,15,9,6,0,NaN

# Data cleaning

### Removing columns that are not useful:

In [60]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137099 entries, 0 to 137098
Data columns (total 76 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   City                                          137099 non-null  object
 1   id                                            137099 non-null  int64
 2   listing_url                                   137099 non-null  object
 3   scrape_id                                     137099 non-null  int64
 4   last_scraped                                  137099 non-null  object
 5   source                                        137099 non-null  object
 6   name                                          137099 non-null  object
 7   description                                   0 non-null       float64
 8   neighborhood_overview                         75451 non-null   object
 9   picture_url                                   137088 non-null  object
 10  host_id                                       137099 non-null  int64
 11  host_url                                      137099 non-null  object
 12  host_name                                     137094 non-null  object
 13  host_since                                    137094 non-null  object
 14  host_location                                 105294 non-null  object
 15  host_about                                    72710 non-null   object
 16  host_response_time                            100075 non-null  object
 17  host_response_rate                            100075 non-null  object
 18  host_acceptance_rate                          107626 non-null  object
 19  host_is_superhost                             136878 non-null  object
 20  host_thumbnail_url                            137094 non-null  object
 21  host_picture_url                              137094 non-null  object
 22  host_neighbourhood                            73097 non-null   object
 23  host_listings_count                           137094 non-null  float64
 24  host_total_listings_count                     137094 non-null  float64
 25  host_verifications                            137094 non-null  object
 26  host_has_profile_pic                          137094 non-null  object
 27  host_identity_verified                        137094 non-null  object
 28  neighbourhood                                 75452 non-null   object
 29  neighbourhood_cleansed                        137099 non-null  object
 30  neighbourhood_group_cleansed                  22751 non-null   object
 31  latitude                                      137099 non-null  float64
 32  longitude                                     137099 non-null  float64
 33  property_type                                 137099 non-null  object
 34  room_type                                     137099 non-null  object
 35  accommodates                                  137099 non-null  int64
 36  bathrooms                                     0 non-null       float64
 37  bathrooms_text                                136947 non-null  object
 38  bedrooms                                      25 non-null      float64
 39  beds                                          135451 non-null  float64
 40  amenities                                     137099 non-null  object
 41  price                                         130712 non-null  object
 42  minimum_nights                                137099 non-null  int64
 43  maximum_nights                                137099 non-null  int64
 44  minimum_minimum_nights                        137097 non-null  float64
 45  maximum_minimum_nights                        137097 non-null  float64
 46  minimum_maximum_nights                        137097 non-null  float64
 47  maximum_maximum_nights                        137097 non-null  float64
 48  minimum_nights_avg_ntm                        137097 non-null  float64
 49  maximum_nights_avg_ntm                        137097 non-null  float64
 50  calendar_updated                              0 non-null       float64
 51  has_availability                              130712 non-null  object
 52  availability_30                               137099 non-null  int64
 53  availability_60                               137099 non-null  int64
 54  availability_90                               137099 non-null  int64
 55  availability_365                              137099 non-null  int64
 56  calendar_last_scraped                         137099 non-null  object
 57  number_of_reviews                             137099 non-null  int64
 58  number_of_reviews_ltm                         137099 non-null  int64
 59  number_of_reviews_l30d                        137099 non-null  int64
 60  first_review                                  106882 non-null  object
 61  last_review                                   106882 non-null  object
 62  review_scores_rating                          106968 non-null  float64
 63  review_scores_accuracy                        106938 non-null  float64
 64  review_scores_cleanliness                     106947 non-null  float64
 65  review_scores_checkin                         106906 non-null  float64
 66  review_scores_communication                   106935 non-null  float64
 67  review_scores_location                        106902 non-null  float64
 68  review_scores_value                           106903 non-null  float64
 69  license                                       33875 non-null   object
 70  instant_bookable                              137099 non-null  object
 71  calculated_host_listings_count                137099 non-null  int64
 72  calculated_host_listings_count_entire_homes   137099 non-null  int64
 73  calculated_host_listings_count_private_rooms  137099 non-null  int64
 74  calculated_host_listings_count_shared_rooms   137099 non-null  int64
 75  reviews_per_month                             106882 non-null  float64
dtypes: float64(23), int64(17), object(36)
memory usage: 79.5+ MB

In [61]:
# Drop all columns including 'host', except for 'host_is_superhost' and 'host_identity_verified'
host_columns = list(merged.filter(regex='host'))
host_columns.remove('host_is_superhost')
host_columns.remove('host_identity_verified')
merged.drop(host_columns,axis=1,inplace=True)

In [62]:
# Drop uninformative features:
merged.drop(columns = ['listing_url',
                       'scrape_id',
                       'last_scraped',
                       'source',
                       'name',
                       'description',
                       'neighborhood_overview',
                       'picture_url',
                       'bathrooms',
                       'calendar_updated',
                       'calendar_last_scraped',
                       'license'],inplace=True)

In [63]:
# Drop redundant min_min_night, min_max_night, max_min_night, max_max_night cols
nigth_columns = list(merged.filter(regex='nights'))
nigth_columns.remove('minimum_nights')
nigth_columns.remove('maximum_nights')
merged.drop(columns = nigth_columns, inplace=True)

For number of reviews we have several different variables.
- number_of_reviews: total number of reviews
- number_of_reviews_ltm: number of reviews in the last twelve months
- number_of_reviews_l30d: number of reviews in the last 30 days

We keep these in the dataset.

We also have variables first_review and last_review, which give the dates of the first and the last review. These can be dropped.

In [64]:
merged.drop(columns = ['first_review','last_review'],inplace=True)

In [66]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137099 entries, 0 to 137098
Data columns (total 36 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   City                          137099 non-null  object
 1   id                            137099 non-null  int64
 2   host_is_superhost             136878 non-null  object
 3   host_identity_verified        137094 non-null  object
 4   neighbourhood                 75452 non-null   object
 5   neighbourhood_cleansed        137099 non-null  object
 6   neighbourhood_group_cleansed  22751 non-null   object
 7   latitude                      137099 non-null  float64
 8   longitude                     137099 non-null  float64
 9   property_type                 137099 non-null  object
 10  room_type                     137099 non-null  object
 11  accommodates                  137099 non-null  int64
 12  bathrooms_text                136947 non-null  object
 13  bedrooms                      25 non-null      float64
 14  beds                          135451 non-null  float64
 15  amenities                     137099 non-null  object
 16  price                         130712 non-null  object
 17  minimum_nights                137099 non-null  int64
 18  maximum_nights                137099 non-null  int64
 19  has_availability              130712 non-null  object
 20  availability_30               137099 non-null  int64
 21  availability_60               137099 non-null  int64
 22  availability_90               137099 non-null  int64
 23  availability_365              137099 non-null  int64
 24  number_of_reviews             137099 non-null  int64
 25  number_of_reviews_ltm         137099 non-null  int64
 26  number_of_reviews_l30d        137099 non-null  int64
 27  review_scores_rating          106968 non-null  float64
 28  review_scores_accuracy        106938 non-null  float64
 29  review_scores_cleanliness     106947 non-null  float64
 30  review_scores_checkin         106906 non-null  float64
 31  review_scores_communication   106935 non-null  float64
 32  review_scores_location        106902 non-null  float64
 33  review_scores_value           106903 non-null  float64
 34  instant_bookable              137099 non-null  object
 35  reviews_per_month             106882 non-null  float64
dtypes: float64(12), int64(11), object(13)
memory usage: 37.7+ MB